.string-input {
  width: 330px;
  height: 44px;
  border: none;
  border-bottom: 1px solid var(--Channel-Midnight, #202457);
  padding: 8px 16px;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  color: #202457;
  font-size: 16px;
  text-align: left;
}



/* 파이어폭스에서 텍스트에 포커스 링이 보이지 않도록 설정 */
.string-input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

